<h1><%= t "user_mailer.password.h1_html"%></h1>
<p><%= t "user_mailer.password.p1_html"%></p>
<%= link_to t("user_mailer.password.password_reset"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "user_mailer.password.p2_html"%></p>
